.intro {
  color: rgb(152, 152, 240);
  font-family: Arial, Helvetica, sans-serif;
}
.dark {
  background-color: rgb(68, 68, 68);
  color: white;  
}
.light {
  background-color: white;
  color: rgb(68,68,68);
}